.section-map{
    position: relative;
    overflow: hidden;
    &::before{
        content: "V";
        @include numberDecor;
        line-height: 1.8;
        transform: translate(-50%, 0);
        right: calc(50% + 290px);
    }
    padding: 180px 0 180px 0;
    &__title{
        margin-bottom: 88px;
    }
    &__map{
        position: relative;
        z-index: 1000;
    }
    @include mediaTablet{
        padding: 80px 0 80px 0;
    }
}